<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="footer__inner">
                    <div class="row">
                        <div class="col col-3 col-d-12">
                            <div class="footer__info">
                                <div class="logo-footer">
                                    <a class="logo-footer__link" href="{{ site.baseurl }}/">
                                        <img class="logo-footer__image"
                                             src="{{ site.baseurl }}{{ site.data.settings.logo }}"
                                             alt="{{ site.data.settings.title }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-9 col-d-12">
                            <div class="footer__navigation">
                                <ul class="footer__navigation__list list-reset">
                                    <li class="footer__navigation__title">About
                                        <ul class="list-reset">
                                            <li class="footer__navigation__item">
                                                <a href="/solutions">Solutions</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/resources">Resources</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/company">Company</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/partners">Partners</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/posts">Blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer__navigation__title">Support
                                        <ul class="list-reset">
                                            <li class="footer__navigation__item">
                                                <a href="/faqs">FAQs</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer__navigation__title">
                                        Legal
                                        <ul class="list-reset">
                                            <li class="footer__navigation__item">
                                                <a href="/privacy">Privacy policy</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="/terms">Terms & conditions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer__navigation__title">
                                        Social
                                        <ul class="list-reset">
                                            <li class="footer__navigation__item">
                                                <a href="https://www.linkedin.com/company/halocorpkr/" target="_blank"><i class="ri-linkedin-box-fill"></i> LinkedIn</a>
                                            </li>
                                            <li class="footer__navigation__item">
                                                <a href="https://www.youtube.com/@halocorpkr" target="_blank"><i class="ri-youtube-fill"></i> YouTube</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <img class="company-logo-footer__image" src="/images/halo-co.svg" alt="Halo&Co">
                    Halo&Co Co., Ltd.<br>
                    9F 78, Namdaemun-ro, Jung-gu, Seoul, Republic of Korea 04534<br>
                    © 2025 Halo&Co. All rights reserved.
                </div>

            </div>
        </div>
    </div>
</footer>