<div class="form-box">
    <form class="form" action="" method="POST">
        <div class="form__top">
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-company-name">Company name</label>
                <input class="form__input" id="form-company-name" type="text" placeholder="Company name" required>
            </div>
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-business-email">Business email</label>
                <input class="form__input" id="form-business-email" type="email" placeholder="Business email" required>
            </div>
        </div>
        <div class="form__top">
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-full-name">Full name(First name/Last
                    name)</label>
                <input class="form__input" id="form-full-name" type="text" placeholder="Full name(First name/Last name)"
                       required>
            </div>
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-phone-number">Phone number</label>
                <input class="form__input" id="form-phone-number" type="text" placeholder="Phone number" required>
            </div>
        </div>
        <div class="form__top">
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-department">Department</label>
                <input class="form__input" id="form-department" type="text" placeholder="Department">
            </div>
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-job-title">Phone number</label>
                <input class="form__input" id="form-job-title" type="text" placeholder="Job title">
            </div>
        </div>
        <div class="form__group">
            <label class="form__label screen-reader-text" for="form-message">Type your message here</label>
            <textarea class="form__input" id="form-message" name="text" rows="8"
                      placeholder="Type your message here"></textarea>
        </div>
        <div class="form__group">
            <small>By submitting this form, you agree to our <a href="/privacy">privacy policy</a>.</small>
        </div>
        <div class="form__group">
            <button class="button" type="submit">Send message</button>
        </div>
    </form>
</div>