<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="hero__inner">
                    <h1 class="hero__title">Travel infrastructure<br>as a service</h1>
                    <p class="hero__description">HaloSync is a next-generation NDC SaaS platform designed to simplify
                        airline distribution, automate operations, and help travel sellers scale with confidence.</p>
                    <div class="hero__logos splide">
                        <div class="splide__track">
                            <div class="hero__logos__inner splide__list">
                                {% for partner in site.data.settings.partners %}
                                <div class="hero__logo__image splide__slide">
                                    <img src="/images/partners/square/{{ partner.iata }}.svg" alt="{{ partner.alt }}"
                                         loading="eager">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>