<section class="section animate">
    <div class="container">
        <div class="row">

            <div class="article article__grid animate col col-4 col-d-6 col-t-12">
                <div class="solution">
                    <img class="lazy" data-src="/images/solutions/polar-hub.png" alt="PolarHub">
                    <div class="solution__content">
                        <h2 class="solution__title">API Connectivity Hub</h2>
                        <p>Integration with multiple airline NDC APIs, unified access through PolarHub API</p>
                    </div>
                </div>
            </div>

            <div class="article article__grid animate col col-4 col-d-6 col-t-12">
                <div class="solution">
                    <img class="lazy" data-src="/images/solutions/albus.png" alt="Albus">
                    <div class="solution__content">
                        <h2 class="solution__title">Platform control & admin</h2>
                        <p>Airline sales management, route control, promotions, settlement & reporting</p>
                    </div>
                </div>
            </div>

            <div class="article article__grid animate col col-4 col-d-6 col-t-12">
                <div class="solution">
                    <img class="lazy" data-src="/images/solutions/luna.png" alt="Luna">
                    <div class="solution__content">
                        <h2 class="solution__title">B2B portal service</h2>
                        <p>Flight search, booking/ticketing, post-booking services, full NDC content access</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section__navigation">
        <a href="/solutions" class="section__link">Learn more<i class="ri-arrow-right-s-line"></i></a>
    </div>
</section>