<div class="faq__item" data-name="closed">
    <h3 class="faq__title">What is NDC?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>NDC(New Distribution Capability) is an XML-based data transmission standard developed by IATA
            to modernize airline distribution. It enables richer, more personalized offers from airlines
            and allows travel agencies to access content directly, rather than relying solely on
            traditional GDS systems.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">What is an aggregator?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>An aggregator connects multiple airline NDC APIs into a single platform, allowing travel
            sellers to access, book, and manage offers from various airlines through one integration.
            This simplifies development and improves efficiency by avoiding separate connections with
            each airline.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">Why should I adopt HaloSync?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>HaloSync stands out with a seamless integration experience, end-to-end B2B support through
            Luna(B2B Portal Service), smart commission and fare control via Albus(Platform Control &
            Admin), and scalable infrastructure based on the latest NDC standards.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">I am a travel agency that also does some B2B business. Can I pass along the
        NDC content to my B2B clients?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>You can register your B2B IATA# to integrate with the PolarHub API and access NDC
                content, or use Luna(B2B Portal Service) separately for offline operations.
            </li>
            <li>The integration procedure is identical for both B2C and B2B clients.
            </li>
        </ul>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">If I have two IATAs, can I access and display/control different content based
        on my different IATAs?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Yes, we provide accounts based on IATA#s. This allows for the sale and management of airline
            content according to the regional characteristics and business goals associated with each
            IATA#.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">Can I connect to PolarHub and use a different travel agency's IATA
        credentials? (e.g. If it is a global company with multiple branches or brands.)
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>Yes, we provide accounts based on IATA#s, allowing for control and data access for each
                individual IATA#.
            </li>
            <li>To protect the valuable information of our clients, the registration of another
                company's IATA# is restricted during the application review process. For more details,
                please <a href="/contact">contact us</a> separately.
            </li>
        </ul>
        <p></p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">Do you offer subagent management modules or interfaces so some of my offline
        branches can view only one part of the service, but not all?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Yes, depending on the permission management of the accounts provided for each IATA#,
            subagencies can manage only the bookings of the corresponding agency.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">Is the booking data from the agency shared with external parties or third
        parties?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>We comply with international data protection regulation through both administrative and
                technical measures. Our system is designed to ensure that we access data for the purpose
                of providing services, and only with explicit contractual or consent-based
                authorization.
            </li>
            <li>
                If there is an unavoidable need to provide information to a third party, we will obtain
                the client’s consent before taking any action.
            </li>
        </ul>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">Will my customer booking data be leaked? Do you follow GDPR/other
        regulations?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>Individual client data is physically and logically separated from other client data, and
                is
                managed in an encrypted form that is not identifiable outside of our internal systems.
            </li>
            <li>
                We manage personal data in compliance with international privacy regulations, including
                GDPR. This includes adhering to legally defined retention periods, encrypting data,
                controlling access permissions, and tracking access history.
            </li>
        </ul>
    </div>
</div>