<section class="section section-faq animate">
    <div class="container">
        <div class="row">
            <div class="col col-12">

                <div class="section__info section__info__center">
                    <div class="section__head">
                        <span class="section__intro">Need some answers?</span>
                        <h2 class="section__title">FAQs</h2>
                    </div>
                </div>
                <div class="faq">
                    {% include section-faqs-tab1.html %}
                </div>
            </div>
        </div>
    </div>
    <div class="section__navigation">
        <a href="/faqs" class="section__link">View all<i class="ri-arrow-right-s-line"></i></a>
    </div>
</section>