<div class="faq__item" data-name="closed">
    <h3 class="faq__title">In case technology goes down, how will you contact us? What if we lose
        business?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>ince we monitor the system 24/7, the likelihood of serious issues such as system outages is
            very low. In the unlikely event of a critical failure, we will send an alert to clients
            immediately and continuously share updates on the situation. Additionally, issues can be
            reported via ATS Jira or email.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">How is technical support provided?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Please submit technical support issues via ATS Jira or email, and we will respond promptly.
            Critical errors and urgent issues are supported even during nights/weekends.</p>
    </div>
</div>

<div class="faq__item" data-name="closed">
    <h3 class="faq__title">What happens when an airline or IATA upgrades their schema? How long will it
        take for Halo&Co to also upgrade? Will there be a difference in service?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Halo&Co has been operating HaloSync services for years and has developed to respond to IATA
            upgrades. We have established a fast and reliable deployment system, ensuring uninterrupted
            deployment even when incorporating IATA upgrades.</p>
    </div>
</div>