<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">What features are provided by the platform?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>We support features such as instant ticketing, cancellations and refunds, ancillary
            purchases, and reservation changes. Please note that available functionalities may vary by
            airline. For details, please refer to <a href="/solutions#our-solutions">Solutions > Our
                solutions & airline integration matrix</a>.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Do you display all fare types (e.g. branded fares, Private fares, corporate
        fares)?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Yes, we provide all types of fares. We offer airline-specific branded fares, corporate fares,
            and special discounted fares.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">What ancillaries do you offer?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>Commonly, baggage and pre-seat reservations are available. There may be additional
                ancillary services specific to each airline, and we plan to add common services such as
                in-flight meals, lounge access, and Wi-Fi in the near future.
            </li>
            <li>
                Service availability may
                differ depending on the airline. Please visit <a href="/solutions#our-solutions">Solution
                > Our solutions & airline integration matrix</a> for more information.
            </li>
        </ul>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Can you share and display rich content?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Currently, the utilization and provision of rich content by airlines is not yet active. The
            provision of rich content is in the preparation stage.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Can I combine NDC content from Halo&Co with my existing GDS content,
        including features like split search and virtual interlining?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>We do not currently offer this. In the future, we plan to provide split search between NDC
            content and LCC content, as well as virtual interlining.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Do you offer localized payment solutions (e.g. local payment, alipay,
        kakaopay)? I don't want to pay each airlines seperately, can you consolidate and pay on my
        behalf?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Currently, we support the use of travel agencies' own payment methods and BSP settlements for
            airlines that are registered with BSP. In the future, we plan to offer more efficient
            payment functionalities by utilizing Halo&Co’s own payment method.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">How fast is the response times?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>HaloSync has implemented Global Network Architecture to enable airlines and clients around
            the world to quickly access airline content. By transmitting data through the AWS network
            rather than the public internet, we boast industry-leading network performance.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">What is the booking success rate?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Over the past 15 years of operation, we have enhanced our systems and ensured stability,
            maintaining reliable operations continuously without any major issues.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">How available is HaloSync, and do you offer any uptime guarantees?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>With 99.95% high availability, HaloSync ensures reliable and uninterrupted service
            operations.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Can we monitor or control issues with airlines?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>Yes, this can be checked through the dashboard of Albus(Platform Control & Admin). Critical
            errors will be communicated separately to clients.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Is it possible to track overall sales, not limited to NDC content provided by
        HaloSync?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>If you have a separate back-office system, it is expected that you can integrate it with
            PolarHub API to view your total sales. For more details, please <a href="/contact">contact
                us</a> separately.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Do I use Luna(B2B Portal Service) or will I have to use airline portal?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>You can manage all airline information through Luna(B2B Portal Service) without the need to
            use the airline portals.</p>
    </div>
</div>