<section class="section projects animate">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="section__info section__info__center">
                    <div class="section__head">
                        <span class="section__intro">Trusted by market leaders</span>
                        <h2 class="section__title">Clients</h2>
                    </div>
                </div>
                <div class="section__gallery">
                    <div class="gallery-box">
                        <div class="gallery">
                            {% assign displayed_projects = 0 %}
                            {% for client in site.data.settings.clients %}
                            {% assign displayed_projects = displayed_projects | plus: 1 %}
                            <img src="{{ client.image }}" loading="lazy"
                                 alt="{{ client.name }}">
                            {% if displayed_projects >= 16 %}
                            {% break %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>