<section class="section blog animate">
  <div class="container">

    <div class="section__info section__info__center">
      <div class="section__head">
        <span class="section__intro">What’s new?</span>
        <h2 class="section__title">Latest from blog</h2>
      </div>
    </div>

    <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in site.posts offset:0 limit:3 %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
    </div>

  </div>

  <div class="section__navigation">
    <a href="{{ '/posts' | relative_url }}" class="section__link">See all posts<i class="ri-arrow-right-s-line"></i></a>
  </div>
</section>