<section class="section projects animate">
    <div class="container">
        <div class="row">
            <div class="col col-12">

                <div class="section__info section__info__center">
                    <div class="section__head">
                        <span class="section__intro">Certified & qualified</span>
                        <h2 class="section__title">Industry accreditations</h2>
                    </div>
                </div>
                <div class="section__gallery">
                    <div class="gallery-box">
                        <div class="gallery">
                            <img src="/images/certified/ndc-capable-level3.svg" loading="lazy">
                            <img src="/images/certified/ndc-certified-level4.svg" loading="lazy">
                            <img src="/images/certified/arm-system-provider.svg" loading="lazy">
                        </div>
                    </div>

                    <div class="gallery-box">
                        <div class="gallery">
                            <img style="border-radius: 0;" src="/images/certified/aws-partner.svg" loading="lazy">
                            <img style="border-radius: 0;" src="/images/certified/aws-qualified-software.svg" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>