<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">How is the contract process conducted?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>First, a mutual NDA must be signed before finalizing HaloSync contract.</li>
            <li>Once the
                contract is finalized, integration with your existing systems will commence. Halo&Co
                will
                provide technical support along with an PolarHub API integration development guide to
                ensure
                integration is completed as quickly as possible. For detailed integration steps, please
                refer to <a href="/solutions">Solutions > How HaloSync works</a>.
            </li>
            <li>If you prefer to
                use NDC content without system integration, you can start using NDC content immediately
                through our Luna(B2B Portal Service). If you're specifically interested in Luna, please
                <a herf="/contact">contact us</a> separately.
            </li>
        </ul>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">In what format is the PolarHub provided?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>After the contract is finalized, integration work with your existing system will proceed. To
            ensure a swift integration and enable you to start your business as quickly as possible,
            Halo&Co provides technical support along with an PolarHub API integration development
            guide.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">What do we need to prepare for PolarHub integration?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <ul>
            <li>When signing the contract, the travel agency's IATA# and endpoints for both the sandbox
                and production environments for API integration are required. If you apply through <a
                        href="/solutions#ready-to-board">Solutions > Ready to board the future of air
                    travel</a>” we will provide you with detailed integration steps and all necessary
                information.
            </li>
            <li>If you do not have an IATA#, please <a href="/contact">contact us</a>
                separately.
            </li>
        </ul>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">How long does it take to integrate with our platform and PolarHub?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>• Integration typically takes 2 months, but may vary based on client needs and situation.<br>•
            For back-office system integation, expect around 3 months.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">How complex is the process of integrating the PolarHub into an existing
        system?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>PolarHub API is designed based on the NDC standard to enable easy integration with OTA
            (Online Travel Agency) systems. Through a single API connection, you can quickly and
            efficiently access NDC content from multiple airlines, reducing both development time and
            cost.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Is there a free version available?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>A free version is not available at the moment, but we are preparing one and will make it
            available shortly.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">Do you provide demo version to test?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>A tenant-specific demo is not currently available. If you would like to request a demo,
            please <a href="/contact">contact us</a> separately.</p>
    </div>
</div>

<div class="faq__item" tabindex="0" data-name="closed">
    <h3 class="faq__title">What are they different ways I can integrate to PolarHub?
        <i class="ri-arrow-down-s-line"></i>
    </h3>
    <div class="faq__description">
        <p>There are two ways to integrate with PolarHub:<br>a. API integration through a separate
            contract with Halo&Co.<br>b. Integration via the AWS Marketplace.</p>
    </div>
</div>